.leadRight {
    width: 60%;
    text-align: right;
}

.leadRight  .scoreCard {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leadRight .score-title {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    margin: 0 0 0.2rem 0 ;
}

.leadRight .score {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    margin: 0 0 0.2rem 0 ;
}