.leadItem{
    width: 30%;
    display: inline-block;
    border: solid 2px var(--light);
    margin: 0 0 1rem 1rem;
    padding: 0.5rem;
}

.leadItem-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.leadItem-body {
    padding: 0 0.5rem;
}