@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

:root {
  --dark: #2e2d33ff;
  --medium: #4b4952ff;
  --light: #e4f7fd;
  --unvalid: #ff4f4f;
  --green: #44d944;
  --chart: #749099;
  --logoFont: 'Source Serif Pro', serif;
}



.App {
  text-align: center;
  font-family: 'Montserrat'
}

h1, h2 {
  font-weight: bold;
}
