.dashHead {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    text-align: left;
}
.logo {
    height: 75%;
    width:75%;
}


.dashboard-title {
    width: 60%;
    padding: 3vh;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--medium);
    text-transform: capitalize;
}

.date-picker {
    width: 15%;
    padding: 3vh 20px;
    font-size: 1.3rem;
    background-color: var(--medium);
    cursor: pointer;
}

.date-picker select {
    cursor: pointer;
}

.select {
    background: var(--medium);
    font-size: 1.3rem;
    color: var(--light);
    width: 100%;
    border: none;
    text-align: center;
}

.select:focus{
    border: none;
    outline: none;
}