.leadRight {
    text-align: right;
    margin-left: 0.5rem;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
}

#Jackson{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Monroe{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Randolph{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Clinton{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Riverside{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Madison{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


.leadRight  .scoreCard {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leadRight .score-title {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    margin: 0 0 0.2rem 0 ;
}

.leadRight .score {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    margin: 0 0 0.2rem 0 ;
}