.navbar {
    z-index: 1000;
    height: 5vh;

    background: var(--dark);
    padding: 0.5rem 2rem 0.5rem 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;

}

.navbar .logoutBtn {
    display: inline-block;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    background: var(--unvalid);
    color: var(--light);
    padding: 0.5rem 2rem;
    border: solid 1px var(--light);
    box-shadow: 1px 1px 1px 1px var(--light);
    margin-right: 1rem;
}

.navbar .logoutBtn:hover {
    cursor: pointer;
}

.navbar .logoutBtn:active {
    box-shadow: none;
}

.menu {
    color: var(--light);
    font-size: 1.2rem;
}



.navbar ul {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 3rem;
}

.navbar li {
    margin: 0 1rem;
    display: inline-block;
}

.navbar li:hover {
    cursor: pointer;
    color: white;
}

