.leadLeft{
    width: 40%;
 }

.leadLeft  .scoreCard {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leadLeft .score-title {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    margin: 0 0 0.2rem 0 ;
}

.leadLeft .score {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    margin: 0 0 0.2rem 0 ;
}