.box{
    border: solid 2px var(--light);
    margin: 0 0 1rem 0;
    padding: 0.5rem 2rem;
}

.box-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.box-body {
    display: flex;
    justify-content: space-between;
}